tpWcfServiceItem/ConsoleAppItem/Connected Services/NSItem/ServiceItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50838/ServiceItem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItemDll" />
  <xs:element name="GetItemByParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Marque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Prix" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ItemDll" minOccurs="0" name="GetItemByParameterResult" nillable="true" type="q1:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ItemDll" minOccurs="0" name="i" nillable="true" type="q2:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ItemDll" minOccurs="0" name="UpdateItemResult" nillable="true" type="q3:Item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Marque" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Prix" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ItemDll" minOccurs="0" name="GetListItemResult" nillable="true" type="q4:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ItemDll" minOccurs="0" name="SelectAllResult" nillable="true" type="q5:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>