tpWcfServiceItem/ConsoleAppItem/Connected Services/NSItem/ServiceItem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceItem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50838/ServiceItem.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50838/ServiceItem.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50838/ServiceItem.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItemDll" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceItem_GetItemByParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByParameter" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_GetItemByParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_GetListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListItem" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_GetListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IServiceItem_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceItem">
    <wsdl:operation name="GetItemByParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItem/GetItemByParameter" message="tns:IServiceItem_GetItemByParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItem/GetItemByParameterResponse" message="tns:IServiceItem_GetItemByParameter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItem/UpdateItem" message="tns:IServiceItem_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItem/UpdateItemResponse" message="tns:IServiceItem_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItem/Insert" message="tns:IServiceItem_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItem/InsertResponse" message="tns:IServiceItem_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItem/GetListItem" message="tns:IServiceItem_GetListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItem/GetListItemResponse" message="tns:IServiceItem_GetListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceItem/SelectAll" message="tns:IServiceItem_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceItem/SelectAllResponse" message="tns:IServiceItem_SelectAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceItem" type="tns:IServiceItem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItemByParameter">
      <soap:operation soapAction="http://tempuri.org/IServiceItem/GetItemByParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/IServiceItem/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServiceItem/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListItem">
      <soap:operation soapAction="http://tempuri.org/IServiceItem/GetListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IServiceItem/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceItem">
    <wsdl:port name="BasicHttpBinding_IServiceItem" binding="tns:BasicHttpBinding_IServiceItem">
      <soap:address location="http://localhost:50838/ServiceItem.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>